.img16{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/himalayan/the-story/desktop/himalayan-the-story.jpg) !important;background-size: cover !important;background-size: cover !important;
}
.img17{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/himalayan/banner/desktop/miy-des.jpg) !important;background-size: cover !important;background-size: cover !important;
}