.img6{
   background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/interceptor/new/banner/desktop/Yesterday-today-tomorrow.jpg) !important;
   background-size: cover;height: 600px;
}
.img7{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/interceptor/new/banner/desktop/blacked-out.jpg) !important;background-size: cover;height: 600px;
}
.img8{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/interceptor/new/banner/desktop/648cc.jpg) !important;background-size: cover;height: 600px;
}
.img9{
    background-image: url(https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/interceptor/new/banner/desktop/smooth-operator.jpg) !important;background-size: cover;height: 600px;
}